###############
##  Maven    ##
###############

target/

###############
## IntelliJ  ##
###############

.idea/
/*.iml
*.iml
*.iws

###############
##  Eclipse  ##
###############

.classpath
.project
.settings/